<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion des bibliothécaires</h1>
    <form method="post" action="{% url 'b_connection' %}">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" required>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" required>
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>