<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des membres</title>
</head>
<body>
    <h1>Liste des membres</h1>
    <ul>
        {% for emprunteur in emprunteurs %}
        <li>
            Nom : {{ emprunteur.name }} | Bloqué.e : {{emprunteur.bloque }} | <a href="/modification-membre/{{ emprunteur.name }}/"><button type="submit">Mettre à jour</button></a>
            <form action="/suppression-membre/{{ emprunteur.name }}/" method="post">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>